[submodule "themes/re-terminal"]
	path = themes/re-terminal
	url = https://github.com/mirus-ua/hugo-theme-re-terminal.git
[submodule "themes/hugo-video"]
	path = themes/hugo-video
	url = https://github.com/martignoni/hugo-video.git
[submodule "content/posts/cve-2025-4524"]
	path = content/posts/cve-2025-4524
	url = https://github.com/ptrstr/CVE-2025-4524/
[submodule "content/posts/cve-2025-47810"]
	path = content/posts/cve-2025-47810
	url = https://github.com/ptrstr/CVE-2025-47810/
